In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2022-07-20 21:07:14,-22.9661,-42.0278,71.46,88,75,9.22
1,1,Puerto Ayora,EC,2022-07-20 21:02:42,-0.7393,-90.3518,68.56,99,92,8.01
2,2,Butaritari,KI,2022-07-20 21:05:19,3.0707,172.7902,81.43,78,61,8.86
3,3,Punta Arenas,CL,2022-07-20 21:02:31,-53.1500,-70.9167,33.91,80,75,24.16
4,4,Yellowknife,CA,2022-07-20 21:07:19,62.4560,-114.3525,67.10,39,89,10.51

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Create a maximum temp heatmap
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Create a maximum temp heatmap

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Gmaps with loop
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Gmaps no loop with heat layer 
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
max_temp = city_data_df["Max Temp"]
temps = []
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Create a Percent Humidity Heatmap
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Create a Percent Cloudiness Heatmap 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Create a Percent Speed Heatmap 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2022-07-20 21:05:19,3.0707,172.7902,81.43,78,61,8.86
6,6,Auki,SB,2022-07-20 21:07:20,-8.7676,160.7034,79.03,81,100,2.77
10,10,Salalah,OM,2022-07-20 21:07:21,17.0151,54.0924,77.09,94,100,5.75
11,11,Hilo,US,2022-07-20 21:07:22,19.7297,-155.0900,84.27,92,100,5.75
13,13,Harper,LR,2022-07-20 21:07:23,4.3750,-7.7169,75.42,71,99,8.12
17,17,Atuona,PF,2022-07-20 21:07:25,-9.8000,-139.0333,77.77,74,9,15.12
18,18,Pachino,IT,2022-07-20 21:07:25,36.7186,15.0907,79.16,69,0,3.91
19,19,Houlton,US,2022-07-20 21:07:25,46.1262,-67.8403,82.81,34,0,8.05
24,24,Aitape,PG,2022-07-20 21:07:27,-3.1374,142.3475,75.87,88,100,4.45
25,25,Victoria,HK,2022-07-20 21:06:34,22.2855,114.1577,86.38,85,21,8.99

In [38]:
# Find null variable 
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2   Butaritari      KI     81.43   3.0707  172.7902
6         Auki      SB     79.03  -8.7676  160.7034
10     Salalah      OM     77.09  17.0151   54.0924
11        Hilo      US     84.27  19.7297 -155.0900
13      Harper      LR     75.42   4.3750   -7.7169
17      Atuona      PF     77.77  -9.8000 -139.0333
18     Pachino      IT     79.16  36.7186   15.0907
19     Houlton      US     82.81  46.1262  -67.8403
24      Aitape      PG     75.87  -3.1374  142.3475
25    Victoria      HK     86.38  22.2855  114.1577

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000, 
    "type": "lodging", 
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.43,3.0707,172.7902,Isles Sunset Lodge
6,Auki,SB,79.03,-8.7676,160.7034,Auki Motel
10,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
11,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Harper,LR,75.42,4.3750,-7.7169,Screensaver
17,Atuona,PF,77.77,-9.8000,-139.0333,Villa Enata
18,Pachino,IT,79.16,36.7186,15.0907,Il Veliero
19,Houlton,US,82.81,46.1262,-67.8403,Ivey's Motor Lodge Houlton
24,Aitape,PG,75.87,-3.1374,142.3475,
25,Victoria,HK,86.38,22.2855,114.1577,Mini Central

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [52]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))